{% extends "base.html" %}
{% block content %}
<body>
  <h1>Welcome to flask!</h1>
  <br>
  <p>Click <a href="/logout">here</a> to logout.</p>

  <h3>Posts:</h3>
  {% for post in posts %}
    <strong>Title:</strong> {{ post.title }} <br>
    <strong>Post:</strong> {{ post.description }} <br>
  <br>
  {% endfor %}  
  <div class="header">
    <div class="content">
    <form action="">
      First Name:
      <input type="text" name="FirstName">
      Last Name:
      <input type="text" name="LastName"><br />

      E-mail:<br>
      <input type="email" name="email"><br>

      Contact Number:<br>
      <input type="value" name="=Contact Number"><br>

      Career Objective:<br>
      <textarea rows="5" cols="50" name="Career Objective">
      </textarea><br>

      Previous Emplyoment:<br>
      <textarea rows="10" cols="60" name="Previous Emplyoment">
      </textarea><br>
{% endblock %}
